<% content_for :title, "Lists" %>

<table class="table table-bordered">

  <tbody>
    <% @lists.each do |list| %>

    <% if list.completed %>
        <tr class="table-secondary">
          <td  class="striker"><%= link_to list.description, edit_list_path(list) %>   </td>
          <td>
            <%= form_for(list) do |form| %>
              <%= form.text_field :description, type: 'hidden' %>
              <%= form.check_box :completed, :checked => false, :style => 'visibility: hidden' %>
              <%= form.submit "Uncross Off "%>
            <% end %>
          </td>
          <td> 
            <% link_to 'Show', list %>
            <% link_to 'Edit', edit_list_path(list) %>
          <center><%= link_to 'Delete', list, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %></center>
          </td>
        </tr>
        <% else %>
        <tr>
          <td> <%= link_to list.description, edit_list_path(list) %> <% list.description %></td>
          <td>
            <%= form_for(list) do |form| %>
              <%= form.text_field :description, type: 'hidden' %>
              <%= form.check_box :completed, :checked => true, :style => 'visibility: hidden' %>
              <%= form.submit "Cross Off "%>
            <% end %>
          </td>
        </td>





          <td> 
            <% link_to 'Show', list %>
            <% link_to 'Edit', edit_list_path(list) %>
          <center><%= link_to 'Delete', list, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %></center>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<br>
<%= link_to "Add To-do Item", new_list_path, class: 'btn btn-secondary' %>
<br>
<br>
<%= link_to "Delete Completed Items", home_trash_em_path, data: { turbo_method: :get, turbo_confirm: 'Are you sure?' }, class: 'btn btn-secondary' %> |
<%= link_to "Delete All Items", home_trash_all_path, data: { turbo_method: :get, turbo_confirm: 'Are you sure?' }, class: 'btn btn-secondary' %>
